<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>401 Unauthorized</title>
    <style>
      body {
        margin: 0;
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        min-height: 100vh; /* Ensure the content takes at least the full viewport height */
        background-color: #ffffff; /* Optional background color */
      }
      .container {
        text-align: center;
      }
      .responseCode{
        font-size: 250px;
        color: rgb(0, 0, 0);
      }
      .responseMessage {
        font-size: 50px;
        color: rgb(0, 0, 0);
      }
    </style>
  </head>
  <body>
    <div class="container">
        <h1><span class="responseCode">4<span style="color: tomato;">0</span>1</span></h1><h3><span class="responseMessage">Authorization required.</span></h3>

    </div>
  </body>
</html>
