<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partier/css/bootstrap.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <%- include('./components/naveBar.ejs') %>
    <div class="container align-items-center mt-2 border border-primary rounded p-4">
        <h2 class="text-center">Sign In</h2>
        <form method="post" action="/user/signin">
            <div class="mb-3">
              <label for="inputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control border border-primary rounded" name="email" id="InputEmail1" aria-describedby="email address input" required>
            </div>
            <div class="mb-3">
              <label for="inputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control border border-primary rounded" name="password" id="inputPassword1" required aria-d>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
            <div class="text-end">
                <a class="text-secondary" href="/signup" title="Create New Account">Sign Up</a>
            </div>
        </form>
    </div>
    <%- include('./partier/js/bootstrap.ejs') %>
</body>
</html>